<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="csharp_sql_personel_kayıt_my.Properties.Settings.PersonelDBConnectionString"
            connectionString="Data Source=DESKTOP-QBFPK40\SQLEXPRESS;Initial Catalog=PersonelDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>